# CONTENTS

- IMPORTING DATA
- EXPLORING DATA
- DATA MANIPULATION
- DERIVING VARIABLES
- EXPORTING DATA

# IMPORTING DATA

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# initialize path variable
path = r'/Users/smac_/Documents/Courses/CF Data Analytics Program/Data Immersion/Achievement 4/05-2023 Instacart Basket Analysis'

In [3]:
# import data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'c_orders_products_merged.pkl'))

In [4]:
# initialize subset dataframe from 'df_ords_prods_merge'
df = ords_prods_merge[:1000000]

# EXPLORING DATA

## SUBSET DATAFRAME

In [5]:
# column names & data types
df.dtypes

order_id                    object
user_id                     object
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
product_id                  object
add_to_cart_order            int64
reordered                   object
_merge_prods_ords         category
product_name                object
aisle_id                    object
department_id               object
prices                     float64
_merge_prods_info         category
dtype: object

In [6]:
# first 5 rows
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge_prods_ords,product_name,aisle_id,department_id,prices,_merge_prods_info
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both

In [7]:
# last 5 rows
df.tail()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge_prods_ords,product_name,aisle_id,department_id,prices,_merge_prods_info
999995,2836489,164627,14,0,15,6.0,30489,2,0,both,Original Hummus,67,20,7.5,both
999996,1843600,164632,5,1,19,9.0,30489,2,0,both,Original Hummus,67,20,7.5,both
999997,733106,164632,9,2,22,10.0,30489,3,1,both,Original Hummus,67,20,7.5,both
999998,1650124,164632,17,6,17,13.0,30489,1,1,both,Original Hummus,67,20,7.5,both
999999,3378258,164632,22,6,10,15.0,30489,3,1,both,Original Hummus,67,20,7.5,both

In [8]:
# dataframe size
df.shape

(1000000, 15)

In [9]:
# cast nominal columns as string
df.loc[:,'order_id'] = df['order_id'].astype(str)
df.loc[:,'user_id'] = df['user_id'].astype(str)
df.loc[:,'product_id'] = df['product_id'].astype(str)
df.loc[:,'aisle_id'] = df['aisle_id'].astype(str)
df.loc[:,'department_id'] = df['department_id'].astype(str)

/var/folders/8p/sqjxls112c90qnpl3cdf34x00000gn/T/ipykernel_57907/1147385873.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'order_id'] = df['order_id'].astype(str)
/var/folders/8p/sqjxls112c90qnpl3cdf34x00000gn/T/ipykernel_57907/1147385873.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'user_id'] = df['user_id'].astype(str)
/var/folders/8p/sqjxls112c90qnpl3cdf34x00000gn/T/ipykernel_57907/1147385873.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'product_id'] = df['product_id'].astype(str)
/var/folders/8p/sqjxls112c90qnpl3cdf34x00000gn/T/ipykernel_57907/1147385873.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'aisle_id'] = df['aisle_id'].astype(str)
/var/folders/8p/sqjxls112c90qnpl3cdf34x00000gn/T/ipykernel_57907/1147385873.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'department_id'] = df['department_id'].astype(str)

I could not find a way to avoid this warning when casting the data types of nominal variables as string so they are not displayed in the summary statistics. Perhaps it is caused due to using the subset dataframe instead of the original?

In [10]:
# summary stats
df.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,prices
count,1000000.000000,1000000.000000,1000000.000000,939915.000000,1000000.000000,1000000.000000
mean,18.731714,2.686741,13.272235,10.646367,6.078493,7.819497
std,18.563841,2.053382,4.218017,8.467237,5.695749,3.641458
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,5.000000,1.000000,10.000000,5.000000,2.000000,6.300000
50%,12.000000,2.000000,13.000000,7.000000,4.000000,9.000000
75%,27.000000,5.000000,16.000000,14.000000,8.000000,10.300000
max,99.000000,6.000000,23.000000,30.000000,99.000000,14.800000

# DATA MANIPULATION

The data manipulation performed serves two main objectives: addressing inconsistencies discovered during variable exploration and eliminating irrelevant variables for the analysis.

## WRANGLING

In [11]:
# drop merge flag columns
drop_merge = ['_merge_prods_ords', '_merge_prods_info']
ords_prods_merge_updated = ords_prods_merge.drop(columns = drop_merge)

## CONSISTENCY

In [12]:
# set the maximum number of displayed rows and columns to unlimited
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [13]:
# 'prices' column frequency counts sorted by value in descending order
ords_prods_merge_updated['prices'].value_counts().sort_index(ascending = False)

99999.0       698
14900.0      4429
25.0        13772
24.9         5781
24.8          410
24.7         7283
24.6         1962
24.5         2148
24.4          499
24.3         2889
24.2        15891
24.1          978
24.0         4327
23.9         2074
23.8        12585
23.7         1346
23.6         8458
23.5         1924
23.4          368
23.3         4803
23.2        14866
23.1         9135
23.0         3265
22.9         3884
22.8         1089
22.7           99
22.6         2275
22.5          706
22.4         1280
22.3        19430
22.2         1178
22.1         5204
22.0         1182
21.9          689
21.8          546
21.7         2553
21.6        10598
21.5           85
21.4          137
21.3         7647
21.1        33805
21.0            8
20.9         1075
20.8          852
20.7         6568
20.6         1167
20.5          945
20.4         5351
20.3          236
20.2          123
20.1         3745
20.0         5775
19.9          887
19.8          344
19.7         5538
19.6        28383
19.5          453
19.4         5457
19.3         6537
19.2          981
19.1         2926
19.0         2823
18.9          483
18.8         4363
18.7        10503
18.6         8451
18.5         3105
18.4         1762
18.3           11
18.2        14923
18.1         8027
18.0         1135
17.9          137
17.8          981
17.7         2073
17.6          640
17.5          369
17.4         1721
17.3         4309
17.2         1001
17.1         4231
17.0         3836
16.9         4971
16.8         4795
16.7         3105
16.6         4212
16.5         2541
16.4         3892
16.3          287
16.2         1823
16.1         1622
16.0         1272
15.9         5078
15.8          772
15.7         4551
15.6          333
15.5         2325
15.4         1175
15.3         7495
15.2          494
15.1         2422
15.0        97261
14.9       156433
14.8       188844
14.7       279291
14.6       139880
14.5       129540
14.4       168272
14.3       334811
14.2       119314
14.1       238211
14.0       311640
13.9       145234
13.8       162616
13.7       181882
13.6       172962
13.5       216276
13.4       225843
13.3       173797
13.2       333183
13.1       117047
13.0       114503
12.9       160860
12.8       309727
12.7       124544
12.6       174427
12.5       152781
12.4        97866
12.3       624261
12.2       188444
12.1       181986
12.0       164717
11.9       127349
11.8       284476
11.7       206199
11.6       148742
11.5       225399
11.4       303015
11.3       212926
11.2       212323
11.1       169709
11.0       183505
10.9       165607
10.8        89927
10.7       191705
10.6       204804
10.5       237657
10.4       133058
10.3       510496
10.2       165789
10.1       139263
10.0       127842
9.9        169251
9.8        194754
9.7        120777
9.6        216626
9.5        165789
9.4        197179
9.3        168917
9.2        182411
9.1        320782
9.0        228576
8.9        219412
8.8        318091
8.7        166742
8.6        254009
8.5        139244
8.4        227493
8.3        276230
8.2        404015
8.1        176805
8.0        151542
7.9        342988
7.8        186923
7.7        190070
7.6        113878
7.5        239261
7.4        233506
7.3        411924
7.2        223120
7.1        140813
7.0        282884
6.9        314196
6.8        354168
6.7        379126
6.6        204936
6.5        278357
6.4        206468
6.3        438467
6.2        178656
6.1        244209
6.0        196985
5.9        208900
5.8        241047
5.7        323997
5.6        183638
5.5        250136
5.4        206769
5.3        284243
5.2        251509
5.1        224797
5.0        225904
4.9        318220
4.8        193853
4.7        221048
4.6        144069
4.5        367223
4.4        357026
4.3        162367
4.2        245755
4.1        268269
4.0        447272
3.9        212805
3.8        315426
3.7        222159
3.6        300127
3.5        222786
3.4        223571
3.3        238041
3.2        253782
3.1        249256
3.0        192650
2.9        264700
2.8        153979
2.7        199785
2.6        211936
2.5        246421
2.4        196042
2.3        242051
2.2        160243
2.1        206004
2.0        286259
1.9        156179
1.8        321184
1.7        213967
1.6        299352
1.5        154527
1.4        392209
1.3        425691
1.2        256258
1.1        242782
1.0        115143
Name: prices, dtype: int64

In [14]:
# create a copy of the original dataframe
ords_prods_merge_updated_v2 = ords_prods_merge_updated.copy()

In [15]:
# impute extreme values with median
median_value = ords_prods_merge_updated_v2['prices'].median()
values_to_replace = [99999.0, 14900.0]
ords_prods_merge_updated_v2['prices'] = ords_prods_merge_updated_v2['prices'].replace(values_to_replace, median_value)

In [16]:
# 'prices' column frequency counts in 'ords_prods_merge_updated_v2' dataframe 
ords_prods_merge_updated_v2['prices'].value_counts().sort_index(ascending = False)

25.0     13772
24.9      5781
24.8       410
24.7      7283
24.6      1962
24.5      2148
24.4       499
24.3      2889
24.2     15891
24.1       978
24.0      4327
23.9      2074
23.8     12585
23.7      1346
23.6      8458
23.5      1924
23.4       368
23.3      4803
23.2     14866
23.1      9135
23.0      3265
22.9      3884
22.8      1089
22.7        99
22.6      2275
22.5       706
22.4      1280
22.3     19430
22.2      1178
22.1      5204
22.0      1182
21.9       689
21.8       546
21.7      2553
21.6     10598
21.5        85
21.4       137
21.3      7647
21.1     33805
21.0         8
20.9      1075
20.8       852
20.7      6568
20.6      1167
20.5       945
20.4      5351
20.3       236
20.2       123
20.1      3745
20.0      5775
19.9       887
19.8       344
19.7      5538
19.6     28383
19.5       453
19.4      5457
19.3      6537
19.2       981
19.1      2926
19.0      2823
18.9       483
18.8      4363
18.7     10503
18.6      8451
18.5      3105
18.4      1762
18.3        11
18.2     14923
18.1      8027
18.0      1135
17.9       137
17.8       981
17.7      2073
17.6       640
17.5       369
17.4      1721
17.3      4309
17.2      1001
17.1      4231
17.0      3836
16.9      4971
16.8      4795
16.7      3105
16.6      4212
16.5      2541
16.4      3892
16.3       287
16.2      1823
16.1      1622
16.0      1272
15.9      5078
15.8       772
15.7      4551
15.6       333
15.5      2325
15.4      1175
15.3      7495
15.2       494
15.1      2422
15.0     97261
14.9    156433
14.8    188844
14.7    279291
14.6    139880
14.5    129540
14.4    168272
14.3    334811
14.2    119314
14.1    238211
14.0    311640
13.9    145234
13.8    162616
13.7    181882
13.6    172962
13.5    216276
13.4    225843
13.3    173797
13.2    333183
13.1    117047
13.0    114503
12.9    160860
12.8    309727
12.7    124544
12.6    174427
12.5    152781
12.4     97866
12.3    624261
12.2    188444
12.1    181986
12.0    164717
11.9    127349
11.8    284476
11.7    206199
11.6    148742
11.5    225399
11.4    303015
11.3    212926
11.2    212323
11.1    169709
11.0    183505
10.9    165607
10.8     89927
10.7    191705
10.6    204804
10.5    237657
10.4    133058
10.3    510496
10.2    165789
10.1    139263
10.0    127842
9.9     169251
9.8     194754
9.7     120777
9.6     216626
9.5     165789
9.4     197179
9.3     168917
9.2     182411
9.1     320782
9.0     228576
8.9     219412
8.8     318091
8.7     166742
8.6     254009
8.5     139244
8.4     227493
8.3     276230
8.2     404015
8.1     176805
8.0     151542
7.9     342988
7.8     186923
7.7     190070
7.6     113878
7.5     239261
7.4     238633
7.3     411924
7.2     223120
7.1     140813
7.0     282884
6.9     314196
6.8     354168
6.7     379126
6.6     204936
6.5     278357
6.4     206468
6.3     438467
6.2     178656
6.1     244209
6.0     196985
5.9     208900
5.8     241047
5.7     323997
5.6     183638
5.5     250136
5.4     206769
5.3     284243
5.2     251509
5.1     224797
5.0     225904
4.9     318220
4.8     193853
4.7     221048
4.6     144069
4.5     367223
4.4     357026
4.3     162367
4.2     245755
4.1     268269
4.0     447272
3.9     212805
3.8     315426
3.7     222159
3.6     300127
3.5     222786
3.4     223571
3.3     238041
3.2     253782
3.1     249256
3.0     192650
2.9     264700
2.8     153979
2.7     199785
2.6     211936
2.5     246421
2.4     196042
2.3     242051
2.2     160243
2.1     206004
2.0     286259
1.9     156179
1.8     321184
1.7     213967
1.6     299352
1.5     154527
1.4     392209
1.3     425691
1.2     256258
1.1     242782
1.0     115143
Name: prices, dtype: int64

In [17]:
# first 5 rows in 'ords_prods_merge_updated_v2' dataframe
ords_prods_merge_updated_v2.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

# DERIVING VARIABLES

## SUBSET DATAFRAME

### DERIVE VARIABLE `'price_range'` FROM `'prices'` APPLYING A USER-DEFINED FUNCTION

In [18]:
# define a function to create a flag that groups products according to price
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range product'
  else: return 'Not enough data'

In [19]:
# apply the created function
df['price_range'] = df.apply(price_label, axis = 1)

/var/folders/8p/sqjxls112c90qnpl3cdf34x00000gn/T/ipykernel_57907/1484875734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [20]:
# 'price_range' column frequency counts
df['price_range'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [21]:
# maximum value in 'price' column
df['prices'].max()

14.8

### DERIVE VARIABLE `'price_range_loc'` FROM `'prices'` APPLYING CONDITIONAL FILTERS USING `loc()`

In [22]:
# 1st conditional filter
df.loc[(df['prices'] > 15), 'price_range_loc'] = 'High-range product'

/var/folders/8p/sqjxls112c90qnpl3cdf34x00000gn/T/ipykernel_57907/2592088167.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['prices'] > 15), 'price_range_loc'] = 'High-range product'

In [23]:
# 2nd conditional filter
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [24]:
# 3rd conditional filter
df.loc[(df['prices'] <= 5), 'price_range_loc'] = 'Low-range product'

In [25]:
# 'price_range_loc' column frequency counts
df['price_range_loc'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

## ORIGINAL DATAFRAME

### DERIVE VARIABLE `'price_range'` FROM `'price'` APPLYING CONDITIONAL FILTERS USING `loc()`

In [26]:
# 1st conditional filter
ords_prods_merge_updated_v2.loc[(ords_prods_merge_updated_v2['prices'] > 15), 'price_range'] = 'High-range product'

In [27]:
# 2nd conditional filter
ords_prods_merge_updated_v2.loc[(ords_prods_merge_updated_v2['prices'] <= 15) & (ords_prods_merge_updated_v2['prices'] > 5), 'price_range'] = 'Mid-range product'

In [28]:
# 3rd conditional filter
ords_prods_merge_updated_v2.loc[(ords_prods_merge_updated_v2['prices'] <= 5), 'price_range'] = 'Low-range product'

In [29]:
# 'price_range' column frequency counts
ords_prods_merge_updated_v2['price_range'].value_counts()

Mid-range product     21865987
Low-range product     10126321
High-range product      412551
Name: price_range, dtype: int64

### DERIVE VARIABLE `'busiest_day'` FROM `'orders_day_of_week'` USING A FOR-LOOP

In [30]:
# 'orders_day_of_week' column frequency counts
ords_prods_merge_updated_v2['orders_day_of_week'].value_counts()

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [31]:
# assign labels to the values in 'orders_day_of_week' column & store them in empty list 'result'
result = []

for value in ords_prods_merge_updated_v2['orders_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [32]:
# add values in 'result' list to dataframe as new column
ords_prods_merge_updated_v2['busiest_day'] = result

In [33]:
# 'busiest_day' column frequency counts
ords_prods_merge_updated_v2['busiest_day'].value_counts()

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

### DERIVE VARIABLE `'busiest_days'` (UPDATED) FROM `'orders_day_of_week'` USING A FOR-LOOP

In [34]:
# 'orders_day_of_week' column frequency counts
ords_prods_merge_updated_v2['orders_day_of_week'].value_counts()

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [35]:
# assign labels to the values in 'orders_day_of_week' column & store them in empty list 'result_v2'
result_v2 = []

for i in ords_prods_merge_updated_v2['orders_day_of_week']:
    if i == 0 or i == 1:
        result_v2.append('Busiest')
    elif i == 3 or i == 4:
        result_v2.append('Least busy')
    else:
        result_v2.append('Regularly busy')

In [36]:
# add values in 'result_v2' list to dataframe as new column
ords_prods_merge_updated_v2['busiest_days'] = result_v2

In [37]:
# 'busiest_days' column frequency counts
ords_prods_merge_updated_v2['busiest_days'].value_counts()

Regularly busy    12916111
Busiest           11864412
Least busy         7624336
Name: busiest_days, dtype: int64

The frequency counts for the assigned labels in the `'busiest_days`' column correspond to those of the `'orders_day_of_week'` column. Approximately 40% of the orders were placed on regularly busy days of the week, 37% on the two busiest days, and 23% on the two least busy days.

### DERIVE VARIABLE `'busiest_period_of_day'` FROM `'order_hour_of_day'` APPLYING CONDITIONAL FILTERS USING `loc()`

In [38]:
# 'order_hour_of_day' column frequency counts
ords_prods_merge_updated_v2['order_hour_of_day'].value_counts()

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

The classification of hours based on order volume will be as follows:

- Hours with over 2 million orders will be labeled as **'Most orders'**
- Hours with order counts ranging between 1 million and 2 million will be categorized as **'Average orders'**
- Hours with fewer than 1 million orders will be classified as **'Fewest orders'**

In [39]:
# assign labels to the values in 'order_hour_of_day' column & store them in empty list 'orders_hour'
orders_hour = []

for i in ords_prods_merge_updated_v2['order_hour_of_day']:
    if i in [9, 10, 11, 12, 13, 14, 15, 16, 17]:
        orders_hour.append('Most orders')
    elif i in [8, 18, 19]:
        orders_hour.append('Average orders')
    else:
        orders_hour.append('Fewest orders')

In [40]:
# add values in 'orders_hour' list to dataframe as new column
ords_prods_merge_updated_v2['busiest_period_of_day'] = orders_hour

In [41]:
# 'busiest_period_day' column frequency counts
ords_prods_merge_updated_v2['busiest_period_of_day'].value_counts()

Most orders       23205725
Average orders     4612925
Fewest orders      4586209
Name: busiest_period_of_day, dtype: int64

# EXPORTING DATA

In [ ]:
# export 'df_ords_prods_merge' dataframe as pickle
ords_prods_merge_updated_v2.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'd_orders_products_derived.pkl'))